<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Hide-Input</title>
	<style>
		html,body {
			margin: 0px;
			padding: 0px;
			width:100%;
			height: 100%;
		}
		body {
			overflow: hidden
		}
		
		body {
			background-color: #eeeeee;
		}
		.window-frame {
			height: 0px;
			width:0px;
			position: relative;
			left:50%;
			top:50%;
		}
		
		.workbench {
			height: 240px;
			width:320px;
			background-color: #eeeeee;
			/*background-color: #aaaaaa;*/
			/*margin: 120px auto;*/
			text-align: center;
			box-sizing:border-box;
			padding-top: 20px;
		}
		
		.window-frame .workbench {
			position: relative;
			left: -160px;
			top:-140px;
			margin: 0px auto;
		}

		.input-area {
			width: 260px;
			height: 90px;
			background-color: #ffffff;
			margin: 20px auto;
			border-radius:5px;
			margin-top: 20px;
		}

		.input-upside,.input-downside {
			box-sizing: border-box;
			border-width: 0px;
			height: 44px;
			width:100%;
			font-size:16px;
			padding: 0px 15px;
			color: #aaaaaa;
			transition-duration: .3s;
		}
		.input-upside {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.input-downside {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		div.line {
			width: 100%;
			box-sizing: border-box;
			background-color: #eeeeee;
			height: 2px;
			border-left: 10px solid #ffffff;
			border-right: 10px solid #ffffff;
			
		}
		
		input:hover,input:active,input:visited,input:focus {
			border-width:0px;
			outline: none;
		}
		
		input:focus {
			color: #666666;
		}
		
		div.submit {
			width: 260px;
			height: 40px;
			/*margin-top: 40px;*/
			margin: 30px auto;
		}
		
		div.submit a.under-text {
			color: #c9c9c9;
			font-size: 12px;
			/*text-align: center;*/
			float: left;
			padding-top: 3px;
			/*padding-left: 15px;*/
			text-decoration: none;
		}
		div.submit a.under-text:hover {
			text-decoration: underline;
		}
		div.submit a.under-text-r {
			color: #c9c9c9;
			font-size: 12px;
			/*text-align: center;*/
			float: right;
			padding-top: 3px;
			/*padding-left: 15px;*/
			text-decoration: none;
		}
		div.submit input[type="submit"] {
			transition-duration: .5s;
			background-color: #53ce72;
			height: 100%;
			width:100%;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 0px;
			margin: 0px;
			border-width: 0px;
			outline: none;
			cursor: pointer;
			color:#ffffff;
			font-size: 16px;
		}
		div.submit input[type="submit"]:hover {
			background-color: #59df79;
		}
	</style>
</head>
<body>
	<div class="window-frame">
	<div class="workbench">

		<div class="input-area">
			<input type="text" class="input-upside" placeholder="Username...">
			<div class="line"></div>
			<input type="password" class="input-downside" placeholder="Password...">
			
		</div>
		<div class="submit">
			<input type="submit" value="LOGIN" title="Log In"/>
			<a class="under-text-r" href="#">Reset Password</a>
			<a class="under-text" href="#">Sign Up</a>
		</div>

	</div>
	</div>
</body>
</html>